[2015-11-03 22:37] farina opened #1 "Extensions: Install Extension does not exist"
In the latest version of Visual Studio Code, I do not see command options for "extensions." Is it possible that they no longer support this? Doesn't make sense, I'm sure I am doing something wrong.

[2015-11-04 15:19] theproducer commented on #1
This is very interesting - based on the package.json, this is for a currently unreleased version of VS Code that has Extensions support (0.9.8 - currently 0.9.2 is released).

MS usually releases beta updates to VS Code at the beginning of every month.  I'd sign up here:
https://www.instant.ly/s/Y5nt1/nav#p/186a0  to the insiders program to get an email when its released.

[2015-11-04 22:57] farina commented on #1
Thank you for the response. After seeing this extension, I just had assumed it was an available feature :).

[2015-11-04 22:57] #1 closed

[2015-11-18 11:44] isidorn opened #2 "No handler found for the command 'openInGitHub'"
I have latest VSCode and I have installed the open in git hub extension.
When I do the "Open in GitHub" action I get the "No handler found for the command 'openInGitHub'"

Might it be that this extension is not working with latest VS Code?

[2015-11-18 15:16] ziyasal commented on #2
hi @isidorn  Thank you for your feedback, I'll take a look asap.

[2015-11-18 16:22] captncraig commented on #2
I get this as well

[2015-11-18 19:36] gep13 commented on #2
Same here...

![image](https://cloud.githubusercontent.com/assets/1271146/11251958/ae8cd9d6-8e2b-11e5-8644-7f24db01dfc2.png)

[2015-11-18 19:37] gep13 opened #3 "Keyboard Shortcut/Context Menu"
Is it possible to have either a keyboard shortcut for this command, or an entry in the Context Menu when you right click on a file?

[2015-11-18 19:54] ziyasal commented on #2
hi @gep13  I have updated my vscode and I got this warning too.  I'll fix it asap.

[2015-11-18 19:57] ziyasal commented on #3
Hi @gep13  I'll examine how I put an entry to context menu. Sure, I'd like to bind a  Keyboard Short-cut for this (this is possible).

[2015-11-18 19:59] gep13 commented on #3
Perfect, thank you! :+1:

[2015-11-18 22:57] #2 closed

[2015-11-18 22:57] #3 closed

[2015-11-18 22:58] ziyasal commented on #2
hi all, I'll publish new version asap.

[2015-11-18 22:59] ziyasal commented on #3
hi @gep13  I'll publish new version asap.

[2015-11-19 07:09] ziyasal commented on #2
Hi all, I've pushed new version.

[2015-11-19 07:09] ziyasal commented on #3
Hi @gep13, I've pushed new version.

[2015-11-19 07:09] ziyasal opened #4 "Create an entry in the Context Menu when you right click on a file."

[2015-11-19 07:46] gep13 commented on #3
@ziyasal can you confirm what version number this functionality will appear in?  I have 0.1.7 installed, and I still don't see those options.  Thanks!

[2015-11-19 08:01] ziyasal commented on #3
Hi @gep13  This functionality has introduced in >=0.1.8
I think there is no option to upgrade extension, workaround for this you may delete it and reinstall new one (:

To navigate `extensions` folder,
[code]

Thanks.

[2015-11-19 08:26] gep13 commented on #3
@ziyasal no need to uninstall:

![image](https://cloud.githubusercontent.com/assets/1271146/11265799/3254dbc2-8e97-11e5-84eb-3cf486295602.png)

[2015-11-19 08:34] gep13 commented on #3
@ziyasal so this gives a keyboard shortcut, which is great:

![image](https://cloud.githubusercontent.com/assets/1271146/11265925/53f7ef66-8e98-11e5-9e1b-47aa6ee40a39.png)

Is it possible to also get a Context Menu when right clicking on a file?  Or is that functionality not exposed?

[2015-11-19 09:22] ziyasal commented on #3
Hi @gep13, It should be `ext update` command, I think :) I couldn't  find reference docs about adding new entry to Context menu. Anyway,  I'll continue to examine.

[2015-11-19 09:26] ziyasal commented on #3
@gep13 Ok I see, There is a little button to do that. Thanks.

[2015-11-23 14:29] ChrisCinelli commented on #4
+1

[2015-11-23 14:30] ChrisCinelli opened #5 "Does not work"
When I click on "Open in GitHub" nothing happend.
 I am using a Mac

[2015-11-23 17:12] antxxxx opened #7 "branch is not selected properly"
The branch that is chosen for the URL is not the active branch in the local repository.
I did have a quick look and you may be able to use git-rev (https://github.com/tblobaum/git-rev) to get the active branch but only once the pull request at https://github.com/tblobaum/git-rev/pull/14 has been merged in

[2015-11-23 20:47] ziyasal commented on #5
Hi @ChrisCinelli, Thank you for feedback, I'll take alook asap.

[2015-11-25 20:24] jboctor commented on #5
I'm here to verify this is as well. The only other extension I have is the phpcs one. Hope this can get resolved soon.

[2015-12-02 06:18] openingnow commented on #3
The keyboard shortcut deactivates `cmd+o`to open file/folders.
When I press `cmd+o`, vscode waits until second key is pressed - prevents pressing just `cmd+o`.
It happens same when I insert `{ "key": "cmd+o cmd+g", "command": ""}`at `keybinding.json`

As I don't want to change shortcut of opening files, I want to change shortcut of this extension.
Should I build the extension manually to change it

[2015-12-04 18:55] bradyholt commented on #5
:+1: same here, on Mac

[2015-12-04 18:59] bradyholt commented on #5
Pretty sure, `open` command should be used for Max OSX rather than `start`.  Here: https://github.com/ziyasal/vscode-open-in-github/blob/master/src/extension.js#L57

[2015-12-04 20:11] #5 closed

[2015-12-16 08:28] shanalikhan1 opened #12 "how did you add depencies like fs as publisher doesnt add those"
Hi ,
can you please help me how you add dependencies. I have added dependencies like FS and github in my extension but publisher doesnt includes those dependencies into my extension in gallery.

[2015-12-17 13:22] #12 closed

[2015-12-23 13:37] jrieken opened #13 "don't bind Ctrl+O"
`Ctrl+O` is used in VS Code to open a different file/folder which this extension override by registering `Ctrl+O Ctrl+G`. The recommended plane is `Ctrl+L`

[2015-12-24 21:01] ziyasal commented on #13
Hi @jrieken, thank you for your attention and suggestion :) I will fix it asap.

[2016-01-04 08:16] #13 closed

[2016-01-04 08:31] jrieken commented on #13
:+1:

[2016-01-08 15:49] bpasero opened #15 "Fails to open when checked out to custom folder name"
I am on Mac using version 0.6.0 and when I open a file from my workspace with a path like this:

`/Users/bpasero/Development/monaco/appveyor.yml`

It ends up opening this in the browser:

`https://github.com/Microsoft/vscode/blob/master:///Users/bpasero/Development/monaco/appveyor.yml#L14`

Any ideas?

[2016-01-17 11:04] bpasero commented on #15
Fails for me because I am specifying a folder name when checking out via Git and this extension assumes the user checked out letting Git pick the folder name from the Git URL.

[2016-01-17 11:09] bpasero opened #16 "Avoid use of private API"

[2016-01-17 11:21] bpasero opened #18 "Line is off by 1"

[2016-01-17 14:05] #15 closed

[2016-01-17 14:05] #16 closed

[2016-01-17 14:09] ziyasal commented on #18
fixed by #17

[2016-01-17 14:09] ziyasal commented on #18
fixed by #17

[2016-01-17 14:09] #18 closed

[2016-01-26 08:50] bpasero commented on #16
@ziyasal maybe you could publish a new release?

[2016-01-26 09:19] ziyasal commented on #16
@bpasero Thank you for reminding, new version has been published.

[2016-01-26 09:58] bpasero commented on #16
@ziyasal cool!

[2016-02-02 06:07] RoscoP opened #19 "Locate or specify github server name"
It would be great if this extension allowed you to use another domain for the project.  I'm unsure how vscode's git integration works, but I believe the url for the remote system is in the git config; `git config --get remote.origin.url` should return it, but I think that depends on 'origin' as the name.

Either way, this would let you specify a custom github server (like [GitHub enterprise](https

[2016-03-01 18:26] amaechler commented on #7
:+1:

[2016-03-06 21:08] stkb opened #20 "Go to repo homepage if no active text editor"
It would be nice if, when running the command when there's no active text editor (ie, when you first open a folder, or close editors), the extension would just open the repo's home page. Currently it just does nothing in this case.

[2016-03-07 11:51] #20 closed

[2016-03-11 18:22] Justin-Credible commented on #19
Yeah, it would be great if we could set a workspace config for a URL prefix so we could use our internal GitHub location.

[2016-03-22 21:41] testerez commented on #19
+1 I'd like to be able to use it with github enterprise.

[2016-04-12 14:59] isidorn commented on #7
+1 the current active branch is not respected
files on master are always opened

[2016-04-21 13:18] jrieken opened #21 "Support to copy URL to clipboard"
I love this extension but often I use it only to get the URL such that I can send it, comment with it etc. I think it would be awesome if, in addition to opening a browser, I could have a command that copies the target to the clipboard.

[2016-04-23 18:44] #21 closed

[2016-04-23 18:54] #7 closed

[2016-04-26 10:15] #19 closed

[2016-05-21 09:21] ziyasal opened #26 "GitLab support?"

[2016-06-01 18:26] bradyholt opened #28 "Support sub-directory workspaces"
When opening a sub-directory of a git repository in vscode, this extension is not able to resolve the git repository information and therefore fails to open files in the browser.

There needs to be support for finding the root repository from relative to the vscode workspace root.

[2016-06-01 19:46] #28 closed

[2016-06-07 14:43] bradyholt opened #29 "No support for subdirectory workspaces"
When opening a sub-directory of a git repository in vscode, this extension is not able to resolve the git repository information and therefore fails to open files in the browser.

There needs to be support for finding the root repository from relative to the vscode workspace root.

Worked was done to support this in: https://github.com/ziyasal/vscode-open-in-github/pull/27 but was subsequently rev

[2016-06-07 16:11] ziyasal commented on #29
Hi @bradyholt sorry for late reply, there was a problem with creating url and l haven't find a time to find why. So l have reverted it to fix problem. I will take a look at to it , asap.

[2016-06-07 17:02] bradyholt commented on #29
No worries, thanks for the note.  I am actually working on another implementation that I think will be better so I will submit that and see what you think.  I'll test it on OSX and Windows.

[2016-07-13 12:16] #4 closed

[2016-07-17 15:14] ziluvatar opened #33 "Open line in github does not work in version 1.2.0"
It always open the branch tree instead of the file with selected line.
I am using OS X El Capitan

You can find more info in the Pull Request I prepared to fix it: https://github.com/ziyasal/vscode-open-in-github/pull/32

[2016-07-17 16:45] gdziadkiewicz commented on #33
@ziluvatar I am sorry for your inconvenience and happy that you fixed the problem. I feel responsible as I did not test my changes on OS X. I did not suspect that the VS Code API responses are not the same on all operating systems.

Did you test your changes on Windows or Linux? If not then I can do that today and write the results under your PR.

For future development it would be a good idea to

[2016-07-17 18:27] ziluvatar commented on #33
@gdziadkiewicz I have tested it in OS X El Capitan and Windows 10. I can install a linux distro (i.e: ubuntu) in virtualbox and take a look as well.

I will take a look to this https://code.visualstudio.com/docs/extensions/testing-extensions

[2016-07-17 18:36] ziluvatar commented on #33
Not sure if that happens but I think it was failing on Windows as well, could you take a look? (just to be sure nothing weird is going on when I try it)

[2016-07-17 18:58] gdziadkiewicz commented on #33
I checked every combination of line/file/repo option with github, bitbucket and visual studio team services, on Windows 10, and it worked for all of the combinations. I will recheck it later today, as I am currently away from my PC.

The article about extensions testing is good. Example tests generated by the Yo visual studio code extension generator are also a good starting point for writing test

[2016-07-17 21:36] gdziadkiewicz commented on #33
@ziluvatar I am not able to reproduce the error on Windows 10 with extension version 1.2.0. Opening of file works fine on github, bitbucket and visual studio team services. I am using Visual Studio Code version 1.3.1.

[2016-07-18 13:07] ziluvatar commented on #33
It's weird :( Anyway I just double checked with a work mate and it is happening in mac for sure.

@gdziadkiewicz Can you try my PR in windows please? I don't trust my test for now until I find what happened.

[2016-07-18 13:13] gdziadkiewicz commented on #33
@ziluvatar I also tested your PR yesterday on Windows - it works correctly :)

[2016-07-18 13:17] #33 closed

[2016-07-28 16:53] #29 closed

[2016-07-28 16:54] ziyasal opened #34 "Create tests for extension"
https://code.visualstudio.com/docs/extensions/testing-extensions

[2016-08-10 20:47] felixfbecker opened #35 "Support SSH alias"
I have a `.ssh/config` like
[code]
so my remote is just `github:felixfbecker/whatever`. I'm getting the error _Unknown git provider_

[2016-08-15 10:05] ziluvatar commented on #34
I am working on it :)

[2016-08-18 10:41] ziyasal commented on #34
hi @ziluvatar great, its good to hear that!

[2016-08-18 14:03] gdziadkiewicz commented on #34
@ziluvatar I have also been working on that. Right now I am ready with testing using both `Lauch Tests` task and `npm test`, running the tests on TravisCI, testing the line feature and repo feature. I will create a PR in a momemnt, please see it and comment on potential merging it with your work.

I did not find the way of calling context menu items from code, so the file and directory options rem

[2016-08-19 14:01] ziluvatar commented on #34
Hi @gdziadkiewicz, hahaha, we should have talked each other before starting, anyway it helped me to learn about extension testing.

I've seen your PR already merged, I'll take a look to the merged code to look for improvements if it needs it in a couple of weeks (I am off this week and next one).

What I had prepared was testing the different providers (github, bitbucket and visualstudio.com), wit

[2016-08-21 09:30] gdziadkiewicz commented on #34
@ziluvatar It's great to hear that you were able to test providers other than GitHub and implemented faking the object provided by vscode. Do you mind if I fork your repo, synchronize your work with my changes  and  do a PR? If you would rather do it yourself then I will be waiting to see it :) In the meantime I'm experimenting with running the tests on AppVeyor.

[2016-08-21 10:48] gdziadkiewicz opened #38 "The extension crashes on if no workspace is open."
Due to fact that workspace variable is equal to undefined when no workspace is open in vscode  the extensions crashes on attempt to call it. IMO the extension should handle single open files(no workspace) which are in supported repo type.

Link to code: https://github.com/ziyasal/vscode-open-in-github/blob/540b5328d1ad436f3c5101dcdfd9ab0db5c6349f/src/extension.js#L36-L38

[2016-08-21 10:52] gdziadkiewicz opened #39 "Links generated on Windows are not consistent with links generated on other operating systems."
Due to fact that Windows uses backslashes instead of slashes in paths the generated links are not the identical (lucky, both versions are accepted by browsers).  This results in failing tests on Windows. IMO the behavior should be consistent and generated links should be identical.

[2016-08-21 11:02] gdziadkiewicz opened #40 "Functions bound to the commands do not return anything meaningful."
Commands called programmatic, using  `commands.executeCommand` api, have the possibility to return something. It is not widely used and even the built-in commands of vscode often do not return anything, but IMO it would be an good idea to return promise which will resolve on completion of the command. This way timeouts in tests could be removed.

[2016-08-21 12:08] gdziadkiewicz opened #41 "Copy/Open does not work when workspace root is not in git root."
## Steps to reproduce
1. Run vscode
2. Click File | Open folder... , pick<vscode-open-in-github repo path>/src/
3. Close all open tabs
4. Run command "Copy GitHub link to clipboard"

## Expected result
"https://github.com/ziyasal/vscode-open-in-github" in clipboard

## Actual result
"https://github.com/ziyasal/vscode-open-in-github/blob/master/srcundefined" in clipboard

## Environment

Tested on

[2016-08-21 16:05] ziluvatar commented on #34
@gdziadkiewicz be free to play with it and create a PR, I won't have time to do anything related in the next week or so

[2016-10-13 19:28] AndrewPashkin opened #42 "Parametrize Git remote"
[Currently][1] the plugin expect remote with name `origin` to be present and assumes, that user wants to retrieve a link for the project, specified in this remote.

But this is not always the case. The idea is to make user able to choose, relative to which remote he wants URL to be constructed.

[1]: https://github.com/ziyasal/vscode-open-in-github/blob/540b5328d1ad436f3c5101dcdfd9ab0db5c6349f/src

[2016-12-09 12:42] ziyasal commented on #26
imlemented in #43

[2016-12-09 12:42] #26 closed

[2016-12-13 15:05] ffes opened #44 "Support GitLab CE/EE"
At the office we use a on-premise GitLab CE. It would be great if the extension could support this.

I have added this gitHubDomain setting to my workspace `settings.json`, but that doesn't help:
[code]

Obviously I put in the proper domain name, that matches the `git remote`. I tried with and without `https`. I keep getting the warning `Unknown Git provider`.

On-premise GitLab has exactly the sa

[2016-12-13 16:03] ffes opened #45 "Make it possible to just go the project page"
Right now the default behavior is to open the current line of the current file in the browser.

But most of the time I just want to go the project page. It would be great I could go just to the project page, just like when there is no open document.

[2016-12-19 03:10] Samic8 opened #46 "Idea: Create pull request feature"
Create a new pull request using the current branch, anyone else like that idea?

[2016-12-20 23:42] martynchamberlin opened #47 "Would love the ability to open to latest commit instead of current branch"
Love this extension! I'm coming from PHPStorm though and there's one feature it had that I would love to see with this.

Very often, I use this feature because I'm in a fresh branch, one that's not yet been pushed to github, and I've made changes to a file and I want to see how it compares to how it originally was. I guess the "right" way to do this would be to run a `git diff <filename>` in Termi

[2017-01-03 16:20] rolodato opened #48 "Setting to open file in specific commit instead of branch?"
@ziyasal thanks for building this extension, much appreciated!

When opening a file in GitHub, the URL that gets opened is in the format:

[code]

I would like the following instead (canonical format):

[code]

That way I can easily share the link with others (maybe a copy link to clipboard option?). It's not a big deal since pressing `y` in GitHub's UI switches to the canonical format. Would you

[2017-01-03 16:31] rolodato commented on #48
Note that this is not the same as #47 - that issue is about opening the latest non-pushed commit. I'm only looking for the current commit.

[2017-01-03 16:38] rolodato commented on #47
You can get the latest non-pushed commit hash by using `git rev-parse REMOTE/BRANCH`, e.g. `git rev-parse origin/master`.

This won't be infallible because other commits may have been pushed in the meantime, but it should be good enough to implement this.

[2017-01-24 10:07] borekb commented on #48
This is actually quite important because when I'm on `master`, create `a-new-branch` locally and invoke "Open in GitHub" on any file, I get 404 because the branch doesn't exist on GitHub yet. Using commit hash is the only safe way, used e.g. by IntelliJ IDEs.

[2017-01-30 09:15] Gama11 opened #49 "Doesn't work with submodules"
Exact same issue as described here for a similar extension: https://github.com/d4rkr00t/vscode-open-in-github/issues/9

[2017-03-12 13:44] dragos opened #50 "Often it doesn't do anything"
Exception from the Developer tools window:

[code]

Sometimes it picks up the wrong repository, probably based on some other workspace (if I have multiple windows open). Not sure what's going on.

[2017-03-18 07:05] asimolmez opened #51 "If current branch is not remote, browser showing 404 page as expected."
I think you should add an informed message when current branch is not on Github. For the user experience, Other developers can be perceived as not working. Only suggestion.

[2017-04-11 19:06] ziyasal commented on #46
Hi @Samic8 thank you for your idea 👍 , it is implemented in [this pr](https://github.com/ziyasal/vscode-open-in-github/pull/52)

[2017-04-11 19:06] #46 closed

[2017-04-18 10:04] ziyasal commented on #51
@asimolmez  Thank you for your feedback, I'll have a look at to this asap 👍

[2017-04-18 11:53] sampaiodiego opened #53 "Link not copied on Linux"
I'm using Ubuntu 16.10 and VSCode 1.11.2 while opening on GitHub works ok, copying the link does nothing.

[2017-04-22 02:52] suan opened #54 "Open/copy URL WITHOUT line number"
It would be great to have the ability to do this - often you just want to call out a file as a whole, and not a particular part of it.

I like how fugitive.vim handles it - if any lines are highlighted, you get the URL with the line range. If none are selected, you just get the plain URL - thus if you just want the current line, you just have to select the current line

[2017-04-22 02:54] suan opened #55 "Support multi-line ranges"
Would be great to be able to select multiple lines, and have the opened/copied URL also have all of them, like https://github.com/ziyasal/vscode-open-in-github/blob/master/src/extension.js#L6-L13 , instead of just the line where the cursor is

[2017-04-22 20:46] #55 closed

[2017-04-23 03:50] #54 closed

[2017-05-31 08:43] jzaefferer opened #59 "GitLab URL has slightly off line number hash"
Doing "Open in GitHub" on a GitLab-backed repo opens this UR:

https://host/group/project/blob/master/package.json#L-136

That's correct, except for the line number hash. The correct one is this, without the dash:

https://host/group/project/blob/master/package.json#L136

Using self-hosted GitLab 9.0.2.

[2017-05-31 12:14] #59 closed

[2017-06-26 14:13] skyjur commented on #49
Made a fix: https://github.com/ziyasal/vscode-open-in-github/pull/62

[2017-07-31 18:32] tracker1 opened #63 "VSO links with SSH checkout don't open correctly"
base is...

    ssh://myteam@myteam.visualstudio.com:22/Project%20Code/_git/reponame

The app opens...

https://myteam.visualstudio.com:22/myteam/Project%20Code/_git/reponame/blob/master/package.json#L75

The url should be...

    https://myteam.visualstudio.com/Project%20Code/_git/reponame?path=%2Fpackage.json

I'm not sure if VSO changed.. but the port in place is definitely wrong, and the path

[2017-09-05 18:54] SG910 commented on #53
Experiencing the same issue using Ubuntu 16.04 and VSCode 1.15.1.

[2017-09-12 12:20] janpio opened #64 "Opens only origin remote URL, not actually checked out fork"
I have a project that has both the origin/master (local: origin) and a fork/master (local: master) checked out. Although master is the active branch in my project, it opens the URL of origin in the browser.

Am I missing something or is this not supported?

[2017-09-13 13:43] jgarec opened #65 "Add parameter to specify http or https url"
Hi,

Our gitlab CE only works on http (not https). Could you add a parameter (like secure or protocol) to specify if the url must start with http or https

https://github.com/ziyasal/vscode-open-in-github/blob/29788d5e0874eea35bd18caaa40299a99d934010/src/gitProvider.js#L72

Thx

[2017-09-14 19:07] danseethaler commented on #64
Yeah looks like it's just hard coded to use origin [here](https://github.com/ziyasal/vscode-open-in-github/blob/41ef1964c4225f7fe9070c36c44913a131d29e61/src/extension.js#L28). I'd like to change this as well since I have many repos without an `origin` at all. I'll try to take a look over the weekend and see if I can add that feature.

[2017-09-27 19:37] GingerPlusPlus commented on #39
This extension works correctly on Windows: https://marketplace.visualstudio.com/items?itemName=mattlott.copy-github-url

[2017-10-08 15:17] pzelnip opened #68 ""Warn: No remote found on branch""
Doing either open in Github or copy link to clipboard gives me "Warn: No remote found on branch".  Have tried with a private repo cloned from Bitbucket server as well as a public Github repo (https://github.com/pzelnip/dotfiles)

[2017-10-12 17:52] DarwinJS opened #69 "Does Not Integrate Correctly on VSCode 1.17.1"
The extension does not show on my installed list and trying to use it gives the "extension.openInGitHub' not found error.

![image](https://user-images.githubusercontent.com/11597190/31510949-24111c9e-af54-11e7-8ad9-8770ad5a3f10.png)

If, after installing it, I search for the extension in the extensions list it does appear to be installed by that listing:

![image](https://user-images.githubuserco

[2017-10-12 17:57] ziyasal commented on #69
Hi @DarwinJS Thank for reporting this. I just tried the same version in mac and it works, @all can someone give a try on windows?

[2017-10-12 18:24] DarwinJS commented on #69
Sorry, forgot to report my platform - Windows 10 Enterprise 64bit.

[2017-10-18 10:35] VincentBel commented on #68
@pzelnip The warning will be shown if you checkout a new local branch without pushing it to remote. You can check this.

---

But I'd like to open it even if no remote branch exist because I often compare current editing file with other branch version by:

- call `Open In Github` with shortcut
- Open the link in browser(404 page)
- Change the URL to desire branch
- Compare the code in browser and

[2017-10-22 23:54] wordofchristian commented on #68
I think it would be better if rather than opening a 404 page it defaulted to opening the file on the master (aka default) branch. This is how Atom behaves in this situation and it works great. It would save you from having to change the URL and is almost always what you want

[2017-10-25 16:55] johnathanludwig opened #71 "Cannot read property 'branch "master"' of undefined"
I'm getting this error in the dev tools. This only seems to occur on my repositories that are git submodules.

[code]

[2017-10-31 13:54] martynchamberlin commented on #51
@ziyasal Even better than an error message would be for this to work how PHPStorm does: don't open based on the branch, but based on the SHA of the current commit. That way if you've checked out a branch but you haven't made a change to a given file, the SHA hasn't changed, and it'll be a correct link on GitHub. The vast majority of the time I'm trying to view a file on GitHub, I haven't changed t

[2017-11-02 22:09] rmanalan opened #72 "Running the contributed command:'extension.openPrGitProvider' failed."
I'm getting this error when I use the "Open Pull Request" command on OSX 10.12.6

[2017-11-02 22:20] ziyasal commented on #72
Hi @rmanalan, thank you for reporting this, 'll be checking asap 👍

[2017-11-09 10:01] alankyshum commented on #72
# Software Info
| OS | Mac OS X 10.13 |
| VS Code | Version 1.18.0-Insider |

# Error object
[code]

# Stack Trace:
[code]

[2017-11-09 12:57] abinavseelan opened #73 "[Bug] ".git" removed if repository name is <user>.github.io"
# Bug - ".git" removed if repository name is <user>.github.io

First of all, love the extension ❤️ 😄

## Context

I have a repository `abinavseelan.github.io`. When I use the extension to go to a specific line, the final url that I'm taken to is `https://github.com/abinavseelan/abinavseelanhub.io/blob/master/index.html#L16-L24`

The `.git` in `abinavseelan.github.io` is removed.

## Potential fix

[2017-11-09 15:02] abinavseelan commented on #73
Raised a PR to fix this here : https://github.com/ziyasal/vscode-open-in-github/pull/74 🐨

[2017-11-10 19:21] johnathanludwig commented on #71
Looks like the recent release 1.2.9 resolved this issue.

[2017-11-10 19:21] #71 closed

[2017-11-13 09:24] ziyasal commented on #73
Hi @abinavseelan pr merged and a new version published so I'm closing this.

[2017-11-13 09:24] #73 closed

[2017-11-20 11:08] jeffochoa commented on #72
I'm having the same issue on Ubuntu (using bitbucket)

[2017-11-24 13:43] tomasklingen commented on #72
Same here with git osx bitbucket.

[2017-12-07 04:15] hua03 opened #76 "GitHub link is invalid by Copy GitHub link to clipboard on Mardown."
Solution: #79

-------------------------------------------------------------

Reproduce: Use this function for the third level files.

![201712712154](http://opd59bmxu.bkt.clouddn.com/201712712154.png)

### It turn `/` to `\`.

![2017127124431](http://opd59bmxu.bkt.clouddn.com/2017127124431.png)

## Wrong link ( by Copy GitHub link to clipboard  )

[https://github.com/hua03/blog/blob/master/demo\c

[2017-12-11 15:55] andreamaruccia commented on #72
same here on osx using github

[2017-12-11 21:26] #72 closed

[2017-12-11 21:31] ziyasal commented on #72
Hi, sorry for the late fix and thank you for your contributions (feedback, reports etc).

[2017-12-12 08:52] andreamaruccia commented on #72
Fixed here thank you

[2017-12-21 14:58] janpio commented on #64
Although your commit was reverted @danseethaler this now seems to be working. 🤷‍♂️

[2017-12-21 14:58] #64 closed

[2018-01-12 17:53] jaichandra opened #80 "Doesn't work with internal Bitbucket URLs"
For repositories that are not on bitbucket.org (intranet hosted), the generated url uses the same structure as github. Can we make this configurable?

[2018-01-23 12:36] Fazered commented on #65
This would be great.

[2018-02-05 12:01] chriscollinsboxuk commented on #39
I was unable to get the alternative extension to work correctly - it appears to suffer from the same issue for me. It'd be great if this could be resolved.

[2018-02-05 13:10] #76 closed

[2018-02-06 20:30] marcioJesus commented on #80
any news?

[2018-03-09 23:01] #65 closed

[2018-03-28 06:52] DanielAsher opened #82 "Doesn't work with bitbucket URLs"
Hi,

was looking forward to using this!

I've set the provider to be bitbucket, and when calling Open in Github I get this url:

`https://bitbucket.org/team/project/src/branchfolder/branchname/dir1/dir2/sourcefile.swift#cl-142`

which produces an error page (see below).

It looks like it needs to produce:

`https://bitbucket.org/team/project/src/a285d517f4b9db31acacfee01018ace7577e939cdir1/dir2/so

[2018-03-30 18:29] ericbiewener opened #83 "Doesn't do anything"
I have tried both reloading the window and restarting VS Code entirely. Neither the "Open in Github" nor "Copy Github link" commands do anything. I don't see any output in the console.

I'm using v1.3.1 of the extension, and v1.21.1 of VS Code.

[2018-03-30 18:50] ziyasal commented on #83
@ericbiewener Thank you for letting us know, will have a look asap.

[2018-04-04 09:56] jonathan-zageno opened #84 "Links to blob instead of tree - 404"
Links to blob as in https://github.com/org/repo/blob/branch/apps/orders/views/orders.py#L182-L183

Whereas it should be tree instead. Also if the branch doesn't yet exist on github, you get a 404. So ideally there should be an option to open the link as a branch or master.

[2018-04-09 11:34] RussPitcher commented on #80
I have the same issue with an internal BitBucket implementation.  The current URL format appears to be something like this:

https://stash.myCompany.net/RussPitcher/scm/Proj03/TestRepo/blob/bugfix/Jira-1553/GUI/Style/StyleConverter.ps1#L16

which I read as:

${BaseUrl}/${Username}/scm/${Project}/${Repo}/blob/${BranchPath}/${PathToFile}#L16

what it needs to be is:

https://stash.myCompany.net/proj

[2018-04-12 20:05] chandramuralis commented on #65
I still don't see this setting after installing latest version of this extension.

[2018-04-13 15:51] ziyasal commented on #83
Hi @ericbiewener, `I blame the weather.` this is very good, you made my day 😂😂

[2018-04-23 03:06] marocchino opened #85 "permanent link for review"
I want to use [this feature](https://help.github.com/articles/creating-a-permanent-link-to-a-code-snippet
) in vscode.
but currently this plugin use branch name instead of commit sha.
also, Pointing branch has own problem:
- it pointing latest code of branch instead actual code.

So, I think pointing with commit sha is better than pointing a branch.
but, it is breaking change, I can not sure it is

[2018-04-23 04:10] jwulf commented on #82
I have a patch in my fork that fixes this. See #86

[2018-04-27 01:36] jwulf commented on #47
Looks like this is in https://github.com/ziyasal/vscode-open-in-github/commit/32ae2700e5bd80df58942e97211bf649ea13d9cd

[2018-04-27 01:37] jwulf commented on #48
Is this addressed by https://github.com/ziyasal/vscode-open-in-github/commit/32ae2700e5bd80df58942e97211bf649ea13d9cd?

[2018-04-30 11:21] Niels-NTG opened #89 "shortcuts to blame and history"
Having recently switched from Atom to VS Code, I'm missing a feature where you can directly open history and blame page of the current file. This is possible in the equivalent Atom package https://atom.io/packages/open-on-github. It would be neat if those features could be introduced in this package as well.

[2018-05-05 21:24] rogersachan opened #90 "Support for GitLab.com (official hosted instance, not gitlab ce/ee)"

[2018-05-09 09:07] tatoosh opened #91 "Not working for http"
I did the custom setting with http protocol, not https:

Open in github opens the url with https - how to solve this?

Thx

[2018-06-19 13:37] ziyasal commented on #90
hi @rogersachan  It already supports gitlab.com, so closing it, if you have any other issues about Gitlab experience feedback welcomed.

[2018-06-19 13:37] #90 closed

[2018-06-19 13:37] ziyasal commented on #82
It fixed in latest release.

[2018-06-19 13:37] #82 closed

[2018-06-19 18:51] jaller94 opened #93 "Gives me an incorrect baseURL (reason unknown)"
The generated base URL is incorrect for me:

### Steps
1. `git clone git@github.com:7Geese/gutter-django.git`
2. Open VS Code
3. "Open on GitHub"

### Expected
https://github.com/7Geese/gutter-django

### Actual
https://github.com:7/git/gutter-django/

[2018-06-19 19:55] jaller94 commented on #93
Might get resolved by updating `git-url-parse`. The latest release is 9.0.1.

[2018-06-19 20:37] ziyasal commented on #93
hi @jaller94 thank you for your feedback, will have a look asap!

[2018-06-20 08:29] ziyasal commented on #93
@jaller94 I tried with your repo and it worked well, creates correct url/s for Github 🤔

[2018-06-20 09:56] ziyasal commented on #93
@jaller94 I created pr for the fix [in the package](https://github.com/IonicaBizau/parse-path/pull/23) used by the one dependency of the package I'm using, node module world :)

I'll be updating when package owner updates the package/s.

[2018-07-02 18:01] centric-jim commented on #69
I am running into the same issue on VS Code v1.24.1.

command  'extension.openInGitHub' not found

[2018-07-17 16:17] #63 closed

[2018-07-18 19:56] girtsf opened #95 "useCommitSHAInURL=false not working"
I have `useCommitSHAInURL` set to `false`, but I still see SHAs in the GitHub URLs.

Looking at the lines in [extension.js](https://github.com/ziyasal/vscode-open-in-github/blob/288b0b1ac753c1b3327b4df36a89b3648fc72413/src/extension.js#L82-L87), should the first arg to `cb(provider.webUrl(sha, [..]));` lines be `branch` instead?

[2018-07-19 13:09] Agarwal-Nikhil opened #96 "Copies link but does not open in Github"
Extension Ver. 1.3.5

I am able to copy the link, but when I do open in Github, nothing happens. I checked the console, there is no error message. Maybe it is not able to identify my web-browser. How can I further investigate this issue?

[2018-07-20 08:13] ziyasal commented on #96
Hi @Agarwal-Nikhil, thank you for filling the issue, out, could you please share Vs Code (`Help-> About`) and os details?

[2018-07-20 08:28] Agarwal-Nikhil commented on #96
Hi @ziyasal !

OS: Ubuntu 18.04
Web Browser: Google Chrome
Version: 1.25.1
Commit: 1dfc5e557209371715f655691b1235b6b26a06be
Date: 2018-07-11T15:40:20.190Z
Electron: 1.7.12
Chrome: 58.0.3029.110
Node.js: 7.9.0
V8: 5.8.283.38
Architecture: x64

[2018-07-20 10:30] rusty-key opened #97 "Unknown Git provider"
Hi!

Today I started getting error alerts when trying to use this extension: `Unknown Git provider. Error: unknown Provider`.
Yesterday extension worked fine. I didn't make any changes in my environment recently, though maybe vscode updated in the background.

Here are my details:
vscode: Version 1.25.1 (1.25.1)
macOS: 10.13.5
xcode: 9.4.1

[2018-07-20 11:42] ziyasal commented on #97
@rusty-key  Thanks for filing an issue! What is the extension version, there might be an issue with the latest one 🤔

[2018-07-20 12:01] rusty-key commented on #97
@ziyasal, 1.7.0

[2018-07-20 12:12] ziyasal commented on #97
Hi @rusty-key, Current version of `ziyasal/vscode-open-in-github` is 1.3.5. I think you are using `https://marketplace.visualstudio.com/items?itemName=sysoev.vscode-open-in-github` this extension, it looks like a fork this, so I suggest file an issue in their repo ➡️ https://github.com/d4rkr00t/vscode-open-in-github.
Thanks.

[2018-07-20 12:12] #97 closed

[2018-07-23 23:42] kycuong-stripe commented on #97
@ziyasal Here's a screenshot of the error within VS Code for me:

![image](https://user-images.githubusercontent.com/29717608/43108483-e7ed44d6-8e96-11e8-9b27-3b931d932f75.png)

On:

* `ziyasal.vscode-open-in-github` v1.3.5
* VS Code v1.25.1
* macOS 10.13.3

It also looks like the [latest Travis build](https://travis-ci.org/ziyasal/vscode-open-in-github/jobs/406214997) failed.

I _love_ this exten

[2018-07-25 17:48] ctaggart commented on #97
I'm hitting this too. I tried setting `openInGitHub.gitHubDomain` to our Github Enterprise domain, but looks like a v1.3.5 problem. VS Code 1.25.1 as well on Windows.

[2018-07-28 07:49] ziyasal commented on #97
@rusty-key @kycuong-stripe  @ctaggart Hi, thank you for reporting that, I could not reproduce on windows and unfortunately, I have no mac at the moment but I will try to have a look asap, meanwhile, it'd be awesome if someone can have a look.

[2018-07-28 07:54] ziyasal commented on #96
Hi @Agarwal-Nikhil, a new version has released recently, it'd be great if you can try it out and update issue.

[2018-07-30 11:57] Niels-NTG commented on #97
I'm experiencing exactly the same issue. I've tried setting `providerType` to `"gitlab"` and `gitHubDomain` to our custom Gitlab host, something I hadn't had to set before, but this doesn't do anything.

I'm using:
• ziyasal/vscode-open-in-github v1.3.5
• vscode v1.25.1
• macOS 10.13.6

[2018-08-01 18:45] dnohales commented on #96
It started to happening to me while ago and uninstalled the extension. I installed it again today to give it another try and it still happening.

[code]

[2018-08-10 10:28] mat-m commented on #44
I think the best way is to add a GitLabDomain setting to identify the custom URL as a GitLab one and not a GitHub one.

[2018-08-16 08:37] jonaskello commented on #97
This seems like a really nice extension. Unfortunately it does not work for me either. I use gitlab and have set the same as @Niels-NTG but I get an error toast with "Unknown Git provider. Error: unknown Provider". I'm also using 1.3.5 installed through vscode and macos 10.13.6.

[2018-08-16 09:00] jonaskello commented on #97
I also have Windows 10, so I tried the same thing there but same result. Error "Unknown Git provider. Error: unknown Provider".

[2018-08-22 15:48] MakwaWes commented on #95
Hi,
I confirm this behavior as well. Can't get the a URL without the SHA in it.
My setup is using the "gitlab" provider.

[2018-08-30 18:41] lnunno commented on #97
Really would like to use this extension, but unusable in this state with GitHub Enterprise. ☹️

[2018-09-04 22:37] Lyncredible commented on #97
I hit the same problem. It worked after setting `openInGitHub.gitHubDomain` and then restarting VSCode.

[2018-09-12 03:10] nooby-noob commented on #97
I love this extention too.

if you use custom domain repository like `github.example.com`, set `openInGitHub.providerType: "github"` in your user settings.

before this https://github.com/ziyasal/vscode-open-in-github/commit/5fae04014cee8a7456a37a618a903e8a043f0acc commit, the default providerType was `gitlab` but it would works with using `github` provider because gitlab and github are the same u

[2018-09-13 16:06] dnohales commented on #96
Looks like the problem is with the `open` package, I replaced it with my own `open` function in the extension and it works:

[code]

[2018-09-13 17:29] lnunno commented on #97
For completeness sake, I had to add:

[code]

In my settings and now it works!

[2018-09-19 08:49] #96 closed

[2018-10-20 02:14] drashna opened #99 "Stopped targetting branch properly"
When I use the "Open in GitHub" option, it opens up the URL, mostly.  But the branch is replaced with "undefined".

Eg: https://github.com/drashna/qmk_firmware/blob/undefined/users/drashna/readme.md
When the URL should be https://github.com/drashna/qmk_firmware/blob/drashna_keymaps/users/drashna/readme.md

Git appears to be working just fine, as I do get the typical branch name in the bottom right

[2018-10-21 16:53] ericblade opened #100 "bitbucket links don't work (possibly private only?)"
I have a private bitbucket that I use for some personal things, and "Open in Github" with those results in an error page at bitbucket telling me that link has no power there.

[2018-11-13 11:13] lambdamusic commented on #100
same here using a private repo

[2018-11-26 12:11] alasdairhurst opened #106 "Multiple line selection not valid for gitlab"
Not sure if it's the specific version of Gitlab (on premise) that I'm using, but when selecting multiple lines, the following URL gets generated: ```https://gitlabdomain.com/../package.json#L23-L26```
However, this does not select anything since the correct syntax is: ```https://gitlabdomain.com/../package.json#L23-26```

[2018-11-27 16:45] sampaiodiego commented on #53
apparently this fixes the issue https://github.com/qinezh/vscode-gitlink/issues/13#issuecomment-381618731

anyway to include at least a mention to this dependency somewhere?

[2018-12-14 11:43] ssbarnea opened #107 "Extension use wrong remote url with Gerrit hosted projects"
I observed that the extension attempted to open gerrit url instead of github for openstack repositories  even if `git config --get remote.origin.url` does clearly report a  GitHub url:

[code]
I guess that the extension use another way to determine the provider.

I suppose that this was caused by the fact that current branch was using `remote = gerrit` and it decided to open it using gerrit, and f

[2018-12-21 22:54] ryanmcdermott opened #108 "Updating VSCode Marketplace"
This is a great extension! Is there any plan of updating the latest version for the VSCode marketplace? It could be useful to release the custom provider change: 70ccbd42681e6218e1e8b87faa6a66f059964637

[2019-01-11 17:24] jackocnr commented on #89
@Niels-NTG this is possible with this extension with the same name: https://github.com/d4rkr00t/vscode-open-in-github (in VS Code, under Extensions, search for "Open in Github" and you want the one by the author "sysoev").

[2019-01-13 18:41] ryanmcdermott commented on #108
Any update on this? Thank you!

[2019-01-15 16:52] ziyasal commented on #108
Hi @ryanmcdermot, Thank you for your comment, I'll have a look asap

[2019-01-15 18:16] ryanmcdermott commented on #108
Thanks, I really appreciate it!

[2019-01-25 00:52] drewlustro commented on #108
+1

[2019-02-17 22:05] KamasamaK opened #109 "Replace dependencies with native API calls"
This package uses `copy-paste` which can be replaced with [`vscode.env.clipboard` methods](https://code.visualstudio.com/api/references/vscode-api#Clipboard). It also uses `open` which can be replaced with [`vscode.env.openExternal`](https://code.visualstudio.com/api/references/vscode-api#env).

[2019-02-18 07:37] ziyasal commented on #109
Hi @KamasamaK thank you for suggestions, l wasnt following the vscode api changes so looks good l will check them out.

[2019-02-19 18:20] lnunno opened #111 "Support for worktrees?"
I've seen an issue with this extension where it seems to silently fail when using git worktrees, but will work with the main checkout of the repository (for example the develop branch) is this a known issue?

[2019-02-22 04:34] ryanmcdermott commented on #108
Any update on this? Thank you! Sorry for the bother

[2019-03-06 11:00] gerijani opened #112 "Running the contributed command:'extension.openInGitHub' failed."
Hi,

I've installed the extension within VS Code and I tried Ctrl+L G but I've got the above message.
Any idea?

THX

[2019-04-18 18:21] kjg commented on #108
I would also love to see what's in master get deployed to the marketplace

[2019-04-19 01:38] #108 closed

[2019-06-14 15:05] keogh commented on #112
I started to get this error today, it was working perfectly yesterday, then I just restart vscode and worked again.

After rebooting I got the VSCode relase notes tab, meaning that VSCode had upgraded, this could be the source of the bug, maybe vscode did some upgrade and mess with installed plugins

[2019-07-04 12:44] sqren commented on #50
I'm seeing the same error. I'm unable to add a breakpoint to the extension source code but the error is happening here:
https://github.com/ziyasal/vscode-open-in-github/blob/2374e4e98103e070fa917240e55877b6aec5ae2e/src/extension.js#L44

It seems like `config[`remote "${remoteName}"`]` is `undefined`.

[2019-08-02 00:23] sunjiyun26 commented on #107
the same problem

[2019-08-16 07:43] ssbarnea opened #116 "Rename extension to make it generic: Open Online?"
This extension initially started as for opening on GitHub because that is what most people are using but grew up to support more and more systems, making its name bit confusing (and not really extensible any more).

I would like to propose renaming it into something more generic, that does not depend on a specific provider. My original idea was "Open Online" but any generic name would probably do

[2019-08-29 07:47] elmpp opened #117 "Discern whether it's a dependency"
When trying to jump from a file within `node_modules`, i'd expect the extension to recognise this and construct the url against the library's repo instead of the project's.

[2019-10-15 16:01] Yunir opened #118 "Wrong translation of ssh link to url"
If you have remote such as:
`git@gitlab.com:group/subgroup/repo.git`

It will translate it badly to:
`https:/gitlab.com/git/group/subgroup/repo`
Where **/git** is redundant.

[2020-01-22 21:45] lcmartinezdev commented on #116
Open repository in browser

[2020-02-07 20:36] christopherdwhite commented on #116
This would be drastically nicer.

[2020-06-01 06:33] mattcolman opened #120 "Release the latest version?"
Hi, looks like the latest version is v1.4.1 but on the vscode marketplace the latest version is v1.3.6.
In particular I'm interesting in using the custom provider feature.
Are there plans to release the latest version to vscode marketplace?
Thanks!

[2020-06-23 13:16] emattias commented on #47
I dont think https://github.com/ziyasal/vscode-open-in-github/commit/32ae2700e5bd80df58942e97211bf649ea13d9cd covers it (atleast not my interpretation of it).

I want to be able to configure it to open the line in the commit that line was added in (either changing the `Open in Github` menu item or adding a new `Open commit in Github` item alongside it)

So for this line I would like to instead of

[2020-09-08 11:33] danielweck opened #121 "Feature request: inverse operation, start with a GitHub URL which contains hash line number(s), and open the file in VSCode at the designated line / code selection"
Hello, great extension, thank you!
Very useful for code peer reviews over Slack / instant messaging, to exchange URLs whilst working locally from VSCode.
However the inverse functionality would be very useful too.

For example I would like to be able to copy such URL: `https://github.com/ziyasal/vscode-open-in-github/blob/c6ffc3a85edb4a90facb20f5f7ac098ca5e8e7af/src/extension.js#L18-L19`

https://

[2020-09-17 23:48] roddolf commented on #120
I also want to use `visualstudio.com` but that is also not release in the market place.

[2020-12-03 20:28] ron23 commented on #111
Same issue. Would be great to have it working!

[2020-12-11 09:41] #111 closed

[2020-12-11 09:48] ziyasal opened #125 "Seeking for a new maintainer"
Hi,

I had been on a break from OSS for more than  ~4 years now, taking care of the kiddo.

It's great to see people using this extension, and it would be great to maintain so.

If anyone interested please reach out.

— Ziya

[2020-12-17 18:03] rickstaa opened #126 "Extension broken in vscode linux 1.52.1"
The extension stopped working on my Linux computer. Now every time I use the open in GitHub command it does nothing. I do not even get an error message in the developer console (see the gif below).

![open-in-github-problem](https://user-images.githubusercontent.com/17570430/102525465-92627780-409a-11eb-8886-fdd0b55ae381.gif)

**System information:**
Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc

[2021-01-21 10:13] sunix commented on #120
It looks like version in openvsx is 1.4.1: https://open-vsx.org/extension/ziyasal/vscode-open-in-github
A proper tag would be great anyway

[2021-02-04 22:35] jquintinoscript opened #127 "bug"
Issue Type: <b>Bug</b>

bug

Extension version: 1.3.6
VS Code version: Code 1.53.0 (8490d3dde47c57ba65ec40dd192d014fd2113496, 2021-02-03T20:36:38.611Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6500 CPU @ 3.20GHz (4 x 3192)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster_threads:

[2021-08-05 13:59] IBIOHAZARDI opened #129 "problema precompilado"
Issue Type: <b>Bug</b>

Establece errores de precompilacion

Extension version: 1.3.6
VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4810MQ CPU @ 2.80GHz (8 x 2794)|
|GPU Status|2d_canvas: enabled<b

[2021-08-09 18:07] benchesh opened #130 "Multiple line selection not working"
When selecting several lines, it will only link me to the first of these lines.

[2021-09-24 01:53] bigwheel commented on #126
Still broken in 1.60.2.

[2021-10-26 14:00] jonomacd opened #133 "Does not work in crostini on chromeOS"
I don't believe you have access to write to the clipboard in crostini but you should be able to open the browser (`xdg-open` works for example). Unfortunately it does not open the browser. Nothing appears to happen when clicking `open in github`.

[2021-12-21 11:00] jonaskello opened #134 "Link to subgroups on gitlab.com gives 404"
In gitlab you can have a subgroup which makes the URL longer.

For example lets say we have `groupa` and under it a subgroup `groupb`. So it becomes `groupa/groupb`. Then the URL for a file in the repo/project `project1` that lives in `groupb` would become something like this:

[code]

However the plugin adds an extra `/git` in front of the url so it becomes:

[code]

This results in a 404. Removi

[2022-01-28 08:48] rickstaa commented on #126
Still broken in 1.63.2. I assume this extension is no longer maintained. For future reference I found the [following alternative](https://github.com/fabiospampinato/vscode-open-in-github) that seems to work perfectly.

[2022-03-10 14:39] noerw opened #139 "Add Gitea support"
[Gitea](https://docs.gitea.io) is a self hosted git hosting solution, quite similar in functionality (and URL structure) to GitHub.
Would be nice if repos hosted on a Gitea instance would be supported by this plugin.

One way to detect an Gitea instance would be to query `<baseurl>/api/v1/nodeinfo`, where `baseurl` is the git remote value minus the last 2 path levels (eg `example.com/gitea/foo/bar

[2022-04-18 14:15] royal45mts opened #140 "errror"
Issue Type: <b>Bug</b>

error plugin not responding

Extension version: 1.3.6
VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:46:01.075Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>canvas_

[2022-05-17 21:22] tortis commented on #134
I'm getting this as well. I thought it might be a problem with the version of git-url-parse package that's being used. I wrote a test script and tried it with v11.1.1 (and a few other versions) of git-url-parse, but it never produced a url with `/git`

[code]

This produces `https://gitlab.org.com/dev/group/project` without the extra /git.

So maybe it has to do with the remote url that's getting

[2022-07-30 11:31] mojosailor opened #141 "Extension cause server to quit"
Issue Type: <b>Bug</b>

Enable extension

Extension version: 1.3.6
VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:12:52.460Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2592)|
|GPU Status|2d_canvas: enabled<br>canvas_oop_raster

[2022-08-02 00:00] limajo opened #142 "blah"
Issue Type: <b>Bug</b>

a

Extension version: 1.3.6
VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:12:52.460Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz (8 x 1896)|
|GPU Status|2d_canvas: enabled<br>canvas_oop_rasterization: disable

[2022-08-12 10:32] Phaneendra-S opened #143 "git built-in extension is not visible"
Type: <b>Bug</b>

it is showing no source control provider registered in source centrol section

Extension version: 1.3.6
VS Code version: Code 1.70.1 (6d9b74a70ca9c7733b29f0456fd8195364076dda, 2022-08-10T06:08:33.642Z)
OS version: Windows_NT x64 10.0.22000
Modes:

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i7-11370H @ 3.30GHz (8 x 2995)|
|GPU

[2022-08-12 11:10] #143 closed

[2022-09-21 19:57] james-notion opened #144 "alwaysOpenInDefaultBranch setting is in README.md, but isn't supported"
The readme shows this custom setting:
[code]

But it doesn't seem to be supported by the extension. When I enable it to `true`, I get the following VSCode warning, and triggering "Open in github" still opens the current branch, not the default branch.
<img width="427" alt="unknown config setting" src="https://user-images.githubusercontent.com/95272014/191598544-655edfc5-c0af-4935-8060-f9acda2a2044

[2022-10-19 14:21] wunderkind2k1 opened #145 "Was: issue with a unwanted /git in the gitURL - is: Maybe this extension should be published to the marketplace again?"
Hi Ziyasal,
I was trying to access our gitlab with your awesome plugin but was stumbling into a mistyped URL: It added a /git to the url directly after the gitlab host. So I took a sneak peak into https://sourcegraph.com/github.com/ziyasal/vscode-open-in-github/-/blob/src/gitProvider.js?L16 and thought: This should work. Why is it not working for me?

Answer: I installed from vscode marketplace. T